*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*commons*/
.content{
    min-height:300px ;
    width: 70%;
    max-width: 1170px;
    margin: 0 auto;
    /* background-color: yellow; */
}
.clearfix{
    content: " ";
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}

.btn{
    background-color:#0061ff;
    color: white;
    padding: 10px 25px;
    border-bottom: none;
}
/*body*/
body{
    /* font-family: "SharpGroteskCondensed","Open Sans",sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif;s */
}

/*header*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header-container{
    height: 80px;
    line-height: 80px;
    width: 100%;
    position:fixed;
    top:0px;
    z-index: 150;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
#logo{
    vertical-align: middle;
    height: 35px;
    line-height: 100px;
    margin-left: 20px;
}

/*nav*/
nav{
    font-size: 20px;
}
header nav li {
    display: inline;
    margin: 0px 15px;
}
nav ul li .btn{
    display: inline;
}
.btn:hover{
    background-color:#3b85ff;
}

a{
    display: inline;
    text-decoration: none;
    color: black;
} 

/* effetto hover */
header nav li a:hover:not(.btn){
    border-bottom: 2px solid black;
    /* display: inline-block; */
    padding-bottom: 28px;

}

.lista-sx{
    margin-left: 20px; /* distanza dal logo */
}
.lista-dx{
    /* margin-left: calc(70% - 700px);  ok questa riga è il male piu assoluto */
    float: right;
}


/* jumbo */
.jumbotron{
    background-color:#b4d0e7;
    margin-bottom: 100px;
}


.jumbotron-box{
    /* min-height: 300px; */
    min-height: 500px;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 81px; /*pari all'altezza di header*/
}

h1{
    font-size: 80px;
}

.testo{
    margin-right: 10%;
    /* width: 23%;*/
    font-size: 20px;
    line-height: 26px;
    margin-top: 30px;
}

p.testo{
    margin-bottom: 30px;
}

.jumbotron-box .contenitore-btn a{
    margin-bottom: 5%;
    display: block;
    width: 60%;
    text-align: center;
}
.jumbotron-box .contenitore-btn a.arrow{
    width: min-content;
}
.jumbotron-box .contenitore-btn span{
    /* margin-top: 20px; */
    margin-right: 30px;

}
.jumbotron-box .contenitore-btn i{
    font-size: 40px;
    margin-top: 60px;
}

.jumbotron-box .img-box{
    position: relative;
}
.jumbotron-box .img-box .img-content{
    position: absolute;
    top: 0px;
    right: 0px;
}

.img-jumbo{
    /* transform: translate(30px , 100px); */
    margin-top: 30px;
    /* max-width: 960px; da accompagnare a margin bottom su col-sx */;
    max-width: 850px;
}

.col-sx{
    width: 30%;
    /* margin-bottom: 30px; */
}









/*debug*/
.debug .content{
    background-color: yellow;
}
.debug header{
    background-color: lightblue;
}
.debug .jumbotron{
    /* background-color: brown; */
}

.debug .jumbotron-box{
    /* border: 1px solid black; */
    /* background-color: lightcoral; */
}
/* i div bianchi sono il male (quanto la barra orizzontale)
.debug .space{
    height: 100px;
    border: 1px solid black;
} */
.debug main{
    background-color: green;
    min-height: 800px;
}

.debug footer{
    background-color: black;
    height: 120px;
}
.debug .business{
    /* min-height: 300px; */
    /* background-color: chocolate; */
    border: 3px solid black;

    /* width: 70%;
    max-width: 1170px;
    margin: 0 auto; */
}
.debug .contatto,.business,.operazioni,.team500{
    /* min-height: 300px; */
    /* background-color: teal; */
    border: 3px solid black;

  
}

