*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*commons*/
.content{
    /* min-height:300px; altezza minima per tutte le sezioni del main */
    width: 70%;
    max-width: 1170px;
    margin: 0 auto;
    /* background-color: yellow; */
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}

.btn{
    background-color:#0061ff;
    color: white;
    padding: 10px 25px;
    border-bottom: none;
}
.btn:hover{
    background-color:#3b85ff;
}
.btn-bianco{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.btn.btn-bianco:hover{
    background-color: #f5f5f5;
}

/*body*/

/*header*/
body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
.header-container{
    height: 84px;
    line-height: 84px;
    width: 100%;
    position:fixed;
    top:0px;
    z-index: 150;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
#logo{
    vertical-align: middle;
    height: 35px;
    line-height: 100px;
    margin-left: 20px;
}

/*nav*/
nav{
    font-size: 20px;
}
header nav li {
    display: inline;
    margin: 0px 15px;
}
nav ul li .btn{
    display: inline;
}


a{
    display: inline;
    text-decoration: none;
    color: black;
} 

/* effetto hover */
header nav li a:hover:not(.btn){
    border-bottom: 2px solid black;
    /* display: inline-block; */
    padding-bottom: 28px;

}

.lista-sx{
    margin-left: 20px; /* distanza dal logo */
}
.lista-dx{
    /* margin-left: calc(70% - 700px);  ok questa riga è il male piu assoluto */
    float: right;
}


/* jumbo */
.jumbotron{
    background-color:#b4d0e7;
    margin-bottom: 150px; 
}


.jumbotron-box{
    /* min-height: 300px; */
    min-height: 500px;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 81px; /*pari all'altezza di header*/
}

h1{
    font-size: 80px;
}

.testo{
    margin-right: 10%;
    /* width: 23%;*/
    font-size: 20px;
    line-height: 26px;
    margin-top: 30px;
}

p.testo{
    margin-bottom: 30px;
}

.jumbotron-box .contenitore-btn a{
    margin-bottom: 5%;
    display: block;
    width: 60%;
    text-align: center;
}
.jumbotron-box .contenitore-btn a.arrow{
    width: min-content;
}
.jumbotron-box .contenitore-btn span{
    /* margin-top: 20px; */
    margin-right: 30px;

}
.jumbotron-box .contenitore-btn i{
    font-size: 40px;
    margin-top: 60px;
}

.jumbotron-box .img-box{
    position: relative;
}
.jumbotron-box .img-box .img-content{
    position: absolute;
    top: 0px;
    right: 0px;
}

.img-jumbo{
    /* transform: translate(30px , 100px); */
    margin-top: 30px;
    /* max-width: 960px; da accompagnare a margin bottom su col-sx */;
    max-width: 850px;
}

.col-sx{
    width: 30%;
    /* margin-bottom: 30px; */
}




/*main*/

.box{
    border: 1px solid #b8b8b8;
    min-height: 500px;
    width: calc((100% - 100px) / 3);
}

.row{
    /* height: 100%; non serve il box ha la sua altezza e successivamente il contenuto del box */
    width: 100%;
    margin: 40px 0;
}

/* section business */
.business{
    margin-bottom: 100px;
}
.business .titolo{
    font-size: 30px; /*h2 eredita il font*/
    margin: 0 auto;
}
.business .fatturazione{
    font-size: 20px;

}
.business .box{
    min-height: 850px;
}

.business .fatturazione a{
    /* content: " ";
    border-radius: 50%;
    font-size: 1px;
    padding: 5px 5px;
    vertical-align: middle; */


    /* border: 5px solid blue; */
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    border: 1px solid #b8b8b8; 
    margin-right: 5px;
    
}

.business .fatturazione a:visited{
    border: 5px solid blue; 
}

.business .titolo h2 {
    margin-bottom: 20px;
}
.business-bottom{
    border: 1px solid lightgray;
}
.box-header{
    border-bottom: 1px solid #b8b8b8;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
}
.box-header .img-box-header{
    width: 16px;
    height: 16px;
}
.box-content{
    padding: 15px;
}
.box-content .img-box-content{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    vertical-align: top;
}
.box-content .features ul li div{
    display: inline-block;
    width: 90%;
}


.box-content .utente-mese{
    margin-bottom: 20px;
}

.box-content hr{
    width: 20%;
    color: #b8b8b8;
}

.box-content h5{
    font-size: 19px;
    margin-top: 40px;
}

.punti-salienti{
    list-style: none;
    margin-top: 30px;
}
.punti-salienti span{
    height: 9px;
    width: 13px;
    border-left: 1.5px solid #0061ff;
    border-bottom: 1.5px solid #0061ff;
    display: inline-block;
    transform: rotate(-50deg);
    vertical-align: top;
    margin-top: 1px;
    margin-right: 5px;

}
.punti-salienti li div{
    display: inline-block;
    width: 90%;
}

.punti-salienti li {
    margin: 12px 0;
}
.prova{
    width: max-content;
    margin: 0 auto;
    margin-top: 40px;
}
.prova a{
    display: inline-block;
}
.prova .acquista{
    /* text-decoration: underline; */
    color: #0061ff;
    margin: 20px 0px;
}
.prova .acquista:hover{
    text-decoration: underline;
}

.categoria{
    margin-bottom: 10px;
    font-size: 25px;
}

.price{
    font-size: 18px;
    margin-bottom: 12px;
}
.box.center{
    margin: 0 50px;
}
.enterprise{
    width: 100%;
    padding-bottom: 30px;
}
.enterprise-title{
    width: 100%;
}
.enterprise h2{
    font-size: 30px;
}

.enterprise h4{
    margin: 20px 0;
}
.enterprise p{
    font-size: 15px;
}

.titolo{ /*classe per il titolo*/

}

.features ul {
    list-style: none;
}

.features ul li {
    padding: 10px 0px;
}


.contatto{
    margin-bottom: 100px;
}
.contatto .img-container{
    width: calc(50%);
}
.contatto .img-contatto{
    width: 100%;
}
/* .contatto .img-container, .text-container{
    min-height: 510px;

} */
.contatto .text-container {
    width: calc(50% - 60px);
    padding-top: 100px;
    padding-right: 80px;
    margin-left: 60px;
}
.contatto .text-container .btn{
    display: inline-block;
}

.contatto .text-container p{
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 1.6;
}

.operazioni .titolo h2{
    font-size: 40px;
}

.operazioni .titolo{
    margin-bottom: 30px;
}
.operazioni .box{
    min-height: 500px;
    border:none;
}
.operazioni .box .img-container img{
    width: 100%;
}
.operazioni .box h4{
    font-size: 30px;
    margin: 10px 0;
}
.operazioni .box p{
    font-size: 19px;
    line-height: 1.3;
}

.operazioni a{
    text-decoration: underline;
}

.operazioni a:hover, .team500 a:hover{
    text-decoration: none;
}

.team500{
    margin-bottom: 40px;
    margin-top: 100px;
}
.team500 h2{
    font-size: 50px;
    width: 70%;
    margin-bottom: 15px;
}
.team500 a{
    color: #0061ff;
    text-decoration: underline;
    font-size: 18px;
}

/*section quadrati*/
.quadrato{
    width: 15vw;
    height: 15vw;
    background-color: orangered;
    float: left;
} 
.quadrato img{
    /* soluzione piu addattabile */
    width: 100%;
    height: 100%; 
    padding: 35% 20%;
    display: block;
    filter: invert(1);

    /* soluzione con aggiunta di uno span per allineare verticalmente l'imgs */
    /* width: 150px;
    height: 75px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle; */

}

#florida img{
    padding: 44% 22%;

}
.bordo span{
    display: inline-block;
    vertical-align: middle;
    height: 100%;

}
.quadrato .bordo{
    height: 100%;
    width: 100%;
    border: 10px solid transparent;
    text-align: center;
}
.quadrato .bordo.colored{
    border-color: rgba(255,255,255,0.2);
}

.col-lat{
    /*height viene presa dagli elementi contenuti ma width deve averla anche 
    il container altrimenti i quadratini float non andranno mai a capo ma tutti in fila*/
    width: 30vw; 
}

.col-center{
    height: 30vw;
    width: calc(100% - 60vw);
    overflow-y: auto;
    padding: 5% 3%;
    background-color: #f5f5f5;
}
.col-center hr{
    width: 10%;
    margin: 20px 0 80px 0;
    color: #d0d0d3;
    opacity: 0.3;
}
.col-center p{
    line-height: 1.7;
}
.col-center p span{
    margin-top: 80px;
    display: inline-block;
}

.partners.row{
    margin-top: 0;
    margin-bottom: 0;

}
.partners .col-center .img-container{
    width: 170px;
    height: 75px;
}
.partners .col-center .img-container img{
    width: 100%;
    height: 100%;
}

.partners-bottom{
    min-height: 200px;
    width: 100%;
    background-color:#b4d0e7;
    padding: 5% 10%;
}

.partners-bottom h2{
    color: #61082b;
    font-size: 40px;
    width: 60%;
}
.partners-bottom .btn.btn-bianco{
    border: none;
}

/*colori quadrati interni*/
.quadrato #designit{
    background-color: #a2d39b;
}
.quadrato #arizona{
    background-color: #61082b;
}
.quadrato #florida{
    background-color: #0093ce;
}
.quadrato #topps{
    background-color: #ff1c1c;
}
.quadrato #bicycle{
    background-color: #d5001f;
}
.quadrato #hearst{
    background-color: #b4d0e7;
}
.quadrato #lonely{
    background-color: #0d2481;
}
.quadrato #clear{
    background-color: #ffd830;
}

.faq{
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin: 30px inherit; a quanto pare non posso mettere inherit :( */
}
.faq h2{
    font-size: 30px;
    
}
.faq-row h3{
    width: 90%;
    line-height: 15px;
    height: 15px;
}
.faq-row h3 span{
    height: 15px;
    width: 15px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 2px;
    /* display: inline-block; */
    transform: rotate(225deg);
    line-height: 15px;
    margin-top: 5px;
}
.faq-row li{
    border-top: 1px solid;
    border-bottom: 1px solid;
    list-style: none;
    padding: 25px 0 25px 0;
    margin: 50px 0;

}

.faq-row li .effetto-hover{
    display: none;
}
.faq-row li:hover .effetto-hover{
    display: block;
    margin-top: 10px;
    color: #637381;
    width: 70%;
    line-height: 1.7;
    font-size: 18px;
}
.faq-row li:hover span{
    transform: rotate(45deg);
}
/*debug*/


.debug .col-center{
    /* background-color: green; */

}
.debug .partners.row{
    /* background-color:olive ; */
    margin-top: 0;
    /* min-height: 400px; */
}
.debug .img-container, .text-container {
    /* height: 500px; */
    /* background-color: blueviolet; */
    /* border: 1px solid black; */
    /* width: calc(50%); */

}

.debug .box{
    /* background-color: orange; */
}

.debug .business .titolo{
    /* border: 1px solid black; */
    /* height: 200px; */
    /* background-color: orangered; */
}
/* 
.debug{
    border: 1px solid black;
    /* height: 200px;
    background-color: orangered;
} */
.debug .business-bottom{
    /* min-height: 200px; */
    /* background-color: orangered; */
    /* border: 1px solid lightgray; */
}



.debug .content{
     /* background-color: yellow; */
}
.debug header{
    /* background-color: lightblue; */
}
.debug .jumbotron{
    /* background-color: brown; */
}

.debug .jumbotron-box{
    /* border: 1px solid black; */
    /* background-color: lightcoral; */
}
/* i div bianchi sono il male (quanto la barra orizzontale)
.debug .space{
    height: 100px;
    border: 1px solid black;
} */
.debug main{
    /* background-color: green; */
    /* min-height: 800px; */
}

.debug footer{
    background-color: black;
    height: 120px;
}
.debug .business{
    /* min-height: 300px; */
    /* background-color: chocolate; */
    /* border: 3px solid black; */

    /* width: 70%;
    max-width: 1170px;
    margin: 0 auto; */
}
.debug,.team500{
    /* min-height: 300px; */
    /* background-color: teal; */
    /* border: 3px solid black; */

  
}

